/*This is the style sheet for the DeCode Quiz*/

/* Tell browser to fit box sizing calculations */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Set background colour and remove browser margins */
body {
    margin: 5px;
    padding: 10px;
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto; 
    max-width: 960px;
    padding: 7px;
}

h1 {
        font-size: 40pt;
        font-weight: bold;
        text-align: center;
        color: magenta;

}

h2 {
    font-size: 29pt;
    font-weight: italic;
    text-align: center;
    color: magenta;
}

a {
    font-size: 14pt;
    text-align: right;
    color: magenta;
    
}

button {

    font-size: 24pt;
    font-weight: italic;
    text-align: center;
    color: yellow;
    background-color: magenta;
    align-items: center;
    cursor: pointer;
    
}

p {
    font-size: 18pt;
    text-align: center;
    padding: 5px;
    
}

.wrapper {
    margin: auto;
    width: 100%;
    height: 30x;
    text-align: center;
}

.hide {
    opacity: 1;

}

span {
    color: white;
    
}

.scores {
    font-size:17pt;
    color:magenta;
    background-color: yellow;
    text-align: right;
    padding: 5px;

}

.timer {
    font-size:22pt;
    color:white;
    background-color: magenta;
    text-align: center;

}

.start {
    text-align: center;
    margin: auto;


}

.questions {
    font-size: 18pt;
    color: black;
    text-align: center;
    background-color: magenta;

}

input {
    border: 2px;
    border-color: magenta;
    color: magenta;

}

.game-over {
    font-size: 16pt;
    text-align: right;
    color: magenta;
}

ol {
    color: yellow;
    text-align: center;
    font-size: 34pt;

}

.final-score {
    color: greenyellow;
    font-size: 36pt;

}

footer {
    text-align: center;
    font-size: 16px;
    color: yellow;
    background-color: magenta;
    margin-top: 2px;
    padding:1px;
    position: fixed bottom;
    
}